.c-logo {
  color: var(--clr-1);
  text-transform: uppercase;

  a {
    font-size: var(--f2);
    text-decoration: none;
    color: currentColor;
    line-height: 0.98;
    letter-spacing: 0;
  }

  a > span {
    display: block;
  }

  > p {
    margin-top: var(--s-2);
    line-height: 1.55;
    letter-spacing: 0.127px;
  }
}