.c-nav {
    text-transform: uppercase;
    background-color: #F4F4F4;

  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--s-5);
    font-size: 0.9rem;
  }

  > ul a {
    text-decoration: none;
    color: currentColor;
    display: block;
    padding: var(--s-5) var(--s-3);
    transition: background-color 0.1s ease-in-out;
  }

  @media (hover: hover) {
    a:hover {
      background-color: #F4F4F4;
    }
  }

  @media screen and (min-width: 900px) {
    background: none;

    ul {
      align-items: flex-start;
    }

    li {
      width: 100%;
    }
  }
}