.p-contact {
  display: grid;
  grid-template-areas:
  'content'
  'image'
  'copyright';

  gap: var(--s1);

  justify-content: center;
  font-family: Arial;

  > .c-imageFrame {
    grid-area: image;

    > img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    grid-area: content;

    h1 {
      margin-top: 0;
      margin-bottom: var(--s1);
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 0.98;
      letter-spacing: 0;
      font-family: 'Raleway', sans-serif;

      @media screen and (min-width: 900px) {
        font-size: var(--f2);
        color: var(--clr-1);
      }
    }

    > * {
      max-width: 60ch;
    }

    div {
      color: var(--clr-1);

      a {
        margin-top: var(--s1);
        display: block;
        color: currentColor;
      }
    }

    [href*="mailto"] {
      font-style: italic;
      font-weight: bold;
      margin-bottom: 0;
    }

    svg {
      height: 32px;
      width: 32px;
      fill: var(--clr-1);
    }
  }

  &__content > h1 > span {
    display: block;
  }

  &__copyright {
    grid-area: copyright;
    align-self: flex-end;
  }

  @media screen and (min-width: 1100px) {
    grid-template-areas:
    'image content'
    'image copyright';
    grid-template-columns: repeat(2, minmax(400px, 600px));
    grid-template-rows: min-content min-content;
    gap: var(--s3);
  }
}