---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import profileImage from "../images/profile.jpg";
---

<Layout title="Betty Maguire - Contact">
  <main class="c-main p-contact">
    <div class="c-imageFrame">
      <Image
        src={profileImage}
        alt="A photo of artist, Betty Maguire, sitting on a chair."
      />
    </div>
    <section class="p-contact__content">
      <h1>
        <span>Betty</span>
        <span>Maguire</span>
      </h1>

      <p>
        is a Multidisciplinary Artist specialising in Movement and
        Visual Arts, working as a Movement Director, Art Director and
        Photographer in the UK and beyond.
      </p>

      <p>
        Betty's signature aesthetic embraces minimalist design and styling
        whilst seamlessly integrating the language of movement and body
        composition. These key components of Betty's work stem from her
        extensive professional training in Contemporary Dance.
      </p>

      <p>
        Open to new creative collaborations, Betty Maguire continually seeks to
        connect with fellow artists, creatives and brands.
      </p>

      <p>
        For enquiries, bookings & collaborations, please contact:
      </p>
      <div class="p-contact__socials">
        <a href="mailto:bettymaguireuk@gmail.com">bettymaguireuk@gmail.com</a>

        <a href="https://instagram.com/bettymaguireuk">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
            <path d="M15 2C7.832 2 2 7.832 2 15s5.832 13 13 13 13-5.832 13-13S22.168 2 15 2zm-3.334 4h6.666A5.674 5.674 0 0 1 24 11.666v6.666A5.674 5.674 0 0 1 18.334 24h-6.666A5.674 5.674 0 0 1 6 18.334v-6.666A5.674 5.674 0 0 1 11.666 6zm0 2A3.672 3.672 0 0 0 8 11.668v6.666A3.672 3.672 0 0 0 11.668 22h6.666A3.672 3.672 0 0 0 22 18.332v-6.666A3.672 3.672 0 0 0 18.332 8h-6.666zm8.002 1.666a.666.666 0 1 1 0 1.332.666.666 0 0 1 0-1.332zM15 10c2.757 0 5 2.243 5 5s-2.243 5-5 5-5-2.243-5-5 2.243-5 5-5zm0 2a3 3 0 0 0 0 6 3 3 0 0 0 0-6z"/>
          </svg>
        </a>
      </div>

    </section>
    <div class="p-contact__copyright">
      <p>Images &copy; Betty Maguire</p>

      <p>
        Images may not be downloaded, copied, reproduced or used in any way without prior written consent.
      </p>
    </div>
  </main>
</Layout>

<style></style>
