---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import landingImage from "../images/landing-1.jpg";
---

<Layout title="Betty Maguire - Contact">
  <main class="c-main p-home">
    <div class="c-imageFrame">
      <Image
        src={landingImage}
        alt="A portrait photo of a model taken by photographer, Betty Maguire."
      />
    </div>
  </main>
</Layout>

<style></style>

