---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Betty Maguire - Motion">
  <main class="c-main">
    <div class="c-comingSoon">
      <p>Coming soon...</p>
    </div>
  </main>
</Layout>

<style></style>
