---
import { Image } from "astro:assets";

interface Props {
  images: ImageMetadata[]
}

const { images } = Astro.props;
---

  {images.map(src => (
    <div class="c-imageFrame">
      <Image
        src={src}
        alt='A portrait photo taken by photographer, Betty Maguire.'
      />
    </div>
  ))}

<style></style>
