---
import { stillsPageContent } from "../data/stillsPages.astro";
import { documentaryPagesContent } from "../data/documentaryPages.astro";

interface Props {
  pageId: string,
  pageType: "stills" | "documentary"
}

const { pageId, pageType } = Astro.props;

const currentPageId = parseInt(pageId);

// Determine which content map to use based on pageType
const contentMap = pageType === "stills" ? stillsPageContent : documentaryPagesContent;
const totalNumberOfPages = contentMap.size;

const getNextPageId = () => {
  return currentPageId < totalNumberOfPages ? currentPageId + 1 : 1;
};

const getPreviousPageId = () => {
  return currentPageId > 1 ? currentPageId - 1 : totalNumberOfPages;
};

const nextPageId = getNextPageId();
const prevPageId = getPreviousPageId();

const basePath = pageType === "stills" ? "/stills/" : "/documentary/";
---

<nav>
  <a href={`${basePath}${prevPageId}`}>Prev</a>
  /
  <a href={`${basePath}${nextPageId}`}>Next</a>
</nav>
