---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '../styles/main.scss';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Betty Maguire" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
    <header class="c-header">
      Betty Maguire la la la
    </header>
    <nav class="c-nav">
      i am nav hello clarice
    </nav>
		<slot />
	</body>
</html>
