---
interface Props {
  title: string;
  pageId: string;
}

const { title, pageId } = Astro.props;
import "../styles/main.scss";
import Navigator from "../components/Navigator.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Betty Maguire - Movement and visual artist"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="c-header">
      <div class="c-logo">
        <a href="/">
          <span>Betty</span>
          <span>Maguire</span>
        </a>
        <p>Movement & visual artist</p>
      </div>
    </header>
    <nav class="c-nav">
      <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/stills">Stills</a></li>
        <li><a href="/motion">Motion</a></li>
        <li><a href="/documentary">Documentary</a></li>
      </ul>

      <Navigator pageType="stills" pageId={pageId}></Navigator>
    </nav>
    <slot />
  </body>
</html>
